# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/tests
/Logs
/vendor
/tmp
/.pnp
.pnp.js
/private
config.ini
# testing
/coverage
/php/archive
/php/test
# production
/client/build
/build
/scripts
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
id_rsa
.htaccess
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/server/node_modules
/client/node_modules
/_delete
.env